# .github/workflows/playwright.yml
name: Playwright Tests

on:
  push:
    branches: [ qa ]
  pull_request:
    branches: [ qa ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.14'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Install Playwright browsers
        run: |
          playwright install

      - name: Run tests
        run: |
          pytest --maxfail=1 --disable-warnings -q
